@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #F2F2F2;
}

.page-header {
  text-align: center;
}

.nav-list,
.nav-user-list {
  list-style-type: none;
}

.nav-link,
.nav-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.favorites-value {
  font-size: 10px;
  line-height: 10px;
}

.main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
  }

.btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-style: none;
}

.btn-accent {
  background-color: #82B3D3;
}

.hero {
  text-align: center;

  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-list,
.features-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  list-style-type: none;
}

.advantages-title,
.features-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-accent {
  background-color:#82B3D3;
}

.background-accent1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-accent2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.title-accent {
  color: #FFFFFF;
}

.text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.text-accent {
  color: #FFFFFF;
}

.filter-block {
  color: #FFFFFF;

  background-color: #82B3D3;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.filter-list {
  list-style-type: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog {
  font-size: 18px;
  line-height: 21px;
}

.catalog-view,
.catalog-card-list {
  list-style-type: none;
}

.catalog-card-link {
  text-decoration: none;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
 }

.subscribe-accent {
  background-color: #82B3D3;
  background-image: url("../imges/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.socials-list {
  text-align: center;
  list-style-type: none;
}

.socials-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.page-footer {
  text-align: center;
}

.contacts-tel {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
