@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.page-header{
  text-align: center;
}

.nav-list, .nav-user-list{
  list-style-type: none;
}

.nav-link, .nav-user-link{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.favorites-value{
  font-size: 10px;
  line-height: 10px;
}

.btn{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  border-style: none;
}

.btn-accent{
  background-color: #82B3D3;
}

.hero{
  background-color: #FFFFFF;
  text-align: center;
  background-image: url("../images/background-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-list, .features-list{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  list-style-type: none;
}

.title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-title, .features-item-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.background-accent{
  background-color:#82B3D3;
}

.background-accent1{
  background-color: rgba(131, 179, 211, 0.12);
}

.background-accent2{
  background-color: rgba(131, 179, 211, 0.2);
}


.title-accent{
  color: #FFFFFF;
}

.text{
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.text-accent{
  color: #FFFFFF;
}

.subscribe-accent{
background-color: #82B3D3;
background-image: url("../images/background-subscribe.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.socials-list{
  text-align: center;
  list-style-type: none;
}

.page-footer{
  text-align: center;
}

.contacts-tel{
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}
